<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <body>

        <!-- Fragmento de cabecera -->
        <div class="navigation_bar" th:fragment="navigation_bar">
            <a class="esp32_anchor_button" th:href="@{/datos-recientes}">Datos recientes</a>
            <a class="esp32_anchor_button" th:href="@{/historico}">Histórico de datos</a>
            <a class="esp32_anchor_button" th:href="@{/graficos}">Gráficos</a>
        </div>

    </body>
</html>

