<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <body>

        <!-- Fragmento de cabecera -->
        <div class="particle_data_table_div" th:fragment="particle_data_table">
            <table id="particle_data_table" class="particle_data_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha y Hora</th>
                        <th>PM10 (&micro;g/m<sup>3</sup>)</th>
                        <th>PM2.5 (&micro;g/m<sup>3</sup>)</th>
                        <th>Latitud</th>
                        <th>Longitud</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>

    </body>
</html>
